/// standard mode
$mainColor: #4169e1;
$LightBlue: rgba(128, 151, 219, 0.671);
$mainColorBtnHover: #1f43b1;
$GlassColor: rgba(236, 236, 238, 0.95);
$GlassColor1a: rgba(236, 236, 238, 1);
$h2Color: #0b2676;
$Purple: rgb(126, 58, 228);
$darkWhite: #d4d4e0;
$Black: rgba(49, 46, 46, 0.8);
$Red: rgba(226, 41, 35, 0.8);
$Green: rgba(34, 160, 34, 0.75);

$RedHover: rgba(170, 30, 26, 0.85);
$GreenHover: rgba(20, 128, 20, 0.85);

$inputBorder: rgba(117, 112, 112, 0.706);

// widget borders ///////////////////////
$RedBorder: rgba(204, 48, 28, 0.65);
$GreenBorder: rgba(35, 189, 84, 0.65);
$PurpleBorder: rgba(93, 28, 204, 0.65);
$BlueBorder: rgba(65, 105, 225, 0.65);
