/// standard mode
$mainColor: #4169e1;
$LightBlue: #8097dbab;
$mainColorBtnHover: #2b52c5;
$GlassColor: rgba(228, 232, 241, 0.9);
$h2Color: #0b2676;
$Purple: #7e3ae4;
$darkWhite: #d4d4e0;
$Black: rgb(49, 46, 46);
$Red: rgb(221, 52, 46);
$RedHover: rgb(187, 37, 32);
$Green: rgb(36, 180, 36);
$GreenHover: rgb(29, 145, 29);
$inputBorder: #757070b4;
$Aside: rgb(25, 40, 77);
/// dark mode
